<section class="section__container header__container">
    <div class="header__content">
        <span class="bg__blur"></span>
        <span class="bg__blur header__blur"></span>
        <h4>بهترین تناسب اندام در شهر</h4>
        <h1><span>بـدن</span> خود را فرم دهید</h1>
        <p>
            پتانسیل خود را آزاد کنید و سفری را به سوی فردی قوی تر، متناسب تر و با اعتماد به نفس تر آغاز کنید. اکنون در
            «به فرم بدن خود بسازید» ثبت نام کنید و شاهد تحول باورنکردنی باشید که بدن شما قادر به انجام آن است!
        </p>
        <button class="btn" mat-raised-button color="accent">شروع کنید</button>
    </div>
    <div class="header__image">
        <img src="../../../assets/header.png" alt="header">
    </div>
</section>

<section class="section__container explore__container">
    <div class="explore__header">
        <h2 class="section_header">برنامه ما را بررسی کنید</h2>
        <div class="explore__nav">
            <span><i class="ri-arrow-right-line"></i></span>
            <span><i class="ri-arrow-left-line"></i></span>
        </div>
    </div>
    <div class="explore__grid">
        <div class="explore__card">
            <span><i class="ri-boxing-fill"></i></span>
            <h4>استحکام - قدرت</h4>
            <p>
                جوهر قدرت را در حین بررسی ابعاد مختلف فیزیکی، ذهنی و عاطفی آن بپذیرید.
            </p>
            <a href="#">اکنون بپیوندید<i class="ri-arrow-left-line"></i></a>
        </div>
        <div class="explore__card">
            <span><i class="ri-heart-pulse-fill"></i></span>
            <h4>تناسب اندام</h4>
            <p>
                مجموعه ای از فعالیت ها را در بر می گیرد که سلامت، قدرت، انعطاف پذیری و رفاه کلی را بهبود می بخشد.
            </p>
            <a href="#">اکنون بپیوندید<i class="ri-arrow-left-line"></i></a>
        </div>
        <div class="explore__card">
            <span><i class="ri-run-line"></i></span>
            <h4>از دست دادن چربی</h4>
            <p>
                از طریق ترکیبی از روال‌های تمرینی و راهنمایی‌های متخصص، شما را برای رسیدن به اهدافتان توانمند می‌سازیم.
            </p>
            <a href="#">اکنون بپیوندید<i class="ri-arrow-left-line"></i></a>
        </div>
        <div class="explore__card">
            <span><i class="ri-shopping-basket-fill"></i></span>
            <h4>افزایش وزن</h4>
            <p>
                برنامه ما که برای افراد طراحی شده است، یک رویکرد موثر برای افزایش وزن به شیوه ای پایدار ارائه می دهد.
            </p>
            <a href="#">اکنون بپیوندید<i class="ri-arrow-left-line"></i></a>
        </div>
    </div>
</section>

<section class="section__container class__container">
    <div class="class__image">
        <span class="bg__blur"></span>
        <img src="assets/class-1.jpg" alt="class" class="class__img-1">
        <img src="assets/class-2.jpg" alt="class" class="class__img-2">
    </div>
    <div class="class__content">
        <h2 class="section__header">کلاسی که در اینجا خواهید داشت</h2>
        <P>
            تحت رهبری تیم ما از مربیان متخصص و انگیزشی، "کلاسی که اینجا خواهید گرفت" یک جلسه با انرژی بالا و نتیجه محور
            است که ترکیبی عالی از تمرینات قلبی، تمرینات قدرتی و تمرینات عملکردی است. هر کلاس به دقت تنظیم شده است تا شما
            را درگیر و چالش برانگیز نگه دارد، و این اطمینان را می دهد که هرگز در تلاش های تناسب اندام خود به سطح بالایی
            نرسیدید.
        </P>
        <button class="btn" mat-raised-button color="accent">کتاب یک کلاس</button>
    </div>
</section>

<section class="section__container join__container">
    <h2 class="section__header">چرا به ما بپیوندید؟</h2>
    <p class="section__subheader">
        پایگاه عضویت متنوع ما فضای دوستانه و حمایتی را ایجاد می کند، جایی که می توانید دوستان خود را پیدا کنید و با انگیزه بمانید.
    </p>
    <div class="join__image">
        <img src="assets/join.jpg" alt="Join">
        <div class="join__grid">
            <div class="join__card">
                <span><i class="ri-user-star-fill"></i></span>
                <div class="join__card__content">
                    <h4>مربی شخصی</h4>
                    <p>پتانسیل خود را با مربی شخصی متخصص ما باز کنید.</p>
                </div>
            </div>
            <div class="join__card">
                <span><i class="ri-vidicon-fill"></i></span>
                <div class="join__card__content">
                    <h4>جلسات تمرین</h4>
                    <p>با جلسات تمرین تناسب اندام خود را بالا ببرید.</p>
                </div>
            </div>
            <div class="join__card">
                <span><i class="ri-building-line"></i></span>
                <div class="join__card__content">
                    <h4>مدیریت خوب</h4>
                    <p>مدیریت حمایتی، برای موفقیت تناسب اندام شما.</p>
                </div>
            </div>
        </div>
    </div>
</section>